* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana;
 
}
h1{
    text-align: center;  
   
}
div{
    height: auto;
    max-width: 600px;
    width: 100%;
    margin: 80px auto;
    position: relative;
    background-color: white;  
}
label,input,select,textarea{
 margin-left: 40px;
}

input::placeholder {
  color: red;
  font-size: 1rem;
  font-weight: 500;
}
textarea {
  resize: none;
  color: red;
  font-size: 1rem;
  padding: 5px;

}
button {
  display: block;
  width: auto;
  border-radius: 2px;
  font-size: larger;
  font-weight: 500;
  height: auto;
  text-align: center;
  margin: auto;
  padding: 10px;
  margin-top: 40px;
  
}

.main form table{
  margin-left: auto;
  margin-right: auto;
}
.main h1{
  margin-top: 30px;
}
